.geral{
  width: 100vw;
  height: 100vh;
}

.input{
  width: 100vw;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

input{
  font-size: 14pt;
  background-color: #e5e5e5;
  border-radius: 10px;
}

button{
  border-radius: 10px;
  font-size: 14pt;
}